* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    color: white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  margin: 5%;
}

.header {
  margin: auto;
  text-align: center;
}

h1, h2{
  text-align: center;
  margin: auto;
}

.name {
  font-size: 40px;
}

.title {
  font-size: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 3%;
}

.nav-item {
  padding: 5px;
}

.nav-link {
  color: white;
  text-decoration: none;
  border: 1px solid #09203f;
  border-radius: .25em;
  padding: 5px;
}

.nav-link:hover {
  transition: .5s ease-in-out;
  text-decoration:none;
  border-color: white;
}

.avatar {
  /* make a square container */
  width: 200px;
  height: 200px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  box-shadow: 0 0 0 1px;
}
 

#about {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.about-article {
  padding-bottom: 20px;
}

.btn-resume {
  color: white;
  text-decoration: none;
  border: 1px solid whitesmoke;
  border-radius: .50rem;
  text-align: center;
  width: 100px;
  padding: 3px;
}

.btn-resume:hover {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  transition: .50s ease-in-out;
  cursor: pointer;
  opacity: 95%;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

#work {
  margin: 3%;
}

.project-title {
  padding-bottom: 50px;
}

.project-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.project-button-box {
  text-align: center;
  padding: 20px;
}

.project-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  border: 3px solid white;
  margin: 2%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin-bottom: 25px;
}

.github-button {
  width: 75px;
}

#icons {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 8px;
  z-index: 2;
  padding: 0;
  margin-right: 5px;
}

#icons i:hover {
  color: whitesmoke;
  transition: .25s ease-in-out;
  cursor: pointer;
  opacity: 95%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.line {
  position: fixed;
  bottom: 0px;
  padding: 15px;
  width: 100%;
  border-top: 1px solid whitesmoke;
  background-image: linear-gradient(
  315deg, #537895 0%, #09203f 74%);
}

a {
  text-decoration: none;
}

#icons i {
  color: white;
  padding: 0 20px;
  font-size: 30px;
}

@media (min-width: 450px) {
  .nav{
    display: flex;
    flex-direction: row;
  }
}


/* @media (max-width: 410px) {
  .project-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  @media (max-width: 920px) {
    .project-box-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  #icons i {
    color: white;
    padding: 0 5px;
    font-size: 30px;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px;
  }
}

@media (max-width: 315px) {
  #icons i {
    display: none;
  }
}